.kiwi {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("../apple.jpg");
  /* background: url(""); */
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  object-fit: cover;
}
